# about dataset
RAW_DATA_DIR="./bda2023_mid_dataset"
ORGANIZED_DATASET_DIR="./organized_data"
DOCS_NAME="documents.csv"

# about database
DB_NAME="bda2023_mid"
DB_URL="mongodb://192.168.212.74:27017"
STOCK_2_DOC_COLLECTION_NAME="documents"
